/* 

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */






body{
    background-color:#EEEEEE    ;
     margin-left: 10%;
    margin-right: 10%; 
  
}

.header{
 
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: .001rem rgb(167, 167, 167) solid;
    justify-content: space-between;
    align-items: center;
}   

.list{
    display: flex;
    gap: 20px;
flex: 4;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #31363F;
    font-size: 0.8rem;
}
.logo{
    flex: 1;
    font-family: "Roboto", sans-serif;
    color: #31363F;
    font-weight: 400;
    font-size: 0.8rem;
}
.sign{
    flex: 1;
    text-align: right;
    font-family: "Roboto", sans-serif;
    color:#31363F;
    font-size: 0.8rem;
}

/* information page */

.information{
    display: grid;
    grid-template-areas: 
    "a e "
    "b e "
    "c e "
    "d e ";
    grid-template-columns:70% 30% ;
     /* grid-template-rows: 0fr 0.3fr 0.3fr 0.5fr 0.5fr;  */
    row-gap: 10px;
    margin-top: 5rem;
    height: auto;
}
.name{
    color: #222831;
    grid-area: a;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}
.oneliner{
    color: #222831;
    grid-area: b;
    font-size: 2.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
.details{
    color: #454545;
    grid-area: c;
    font-size:0.9rem ;
    font-family: "Roboto", sans-serif;
   
}

.linktoother{
    color: #222831;
    grid-area: d;
    display: flex;
    flex-wrap: wrap;
   gap: 2rem;

    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
 .item{
    border-bottom: .001rem rgb(167, 167, 167) solid;
} 
.coolpic{
    grid-area: e;
    font-size: 5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: rgb(35, 35, 115);
    align-self: center;
    justify-self: center    ;
}


/* FOOTER */
.footer{
    border-top: .001rem rgb(167, 167, 167) solid;
    margin-top: 15rem;
    height: 12rem;
    font-family: "Roboto", sans-serif;

}
.copyright{
    text-align: right;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
}



@media (max-width: 768px) {
    .information{
        display: grid;
        grid-template-areas: 
        "a "
        "b "
        "c "
        "d "
        "e "
        ;
        grid-template-columns:1fr;
         /* grid-template-rows: 0fr 0.3fr 0.3fr 0.5fr 0.5fr;  */
        row-gap: 10px;
        margin-top: 5rem;
        height: auto;
    }
    .header{
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        height: auto;
    }   
    
}

@media (max-width: 481px) {
    .information{
        display: grid;
        grid-template-areas: 
        "a "
        "b "
        "c "
        "d "
        "e "
        ;
        grid-template-columns:1fr;
         /* grid-template-rows: 0fr 0.3fr 0.3fr 0.5fr 0.5fr;  */
        row-gap: 10px;
        margin-top: 5rem;
        height: auto;
    }
    .header{
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        height: auto;
    }  
}