/* 
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.body{
    background-color:antiquewhite    ;
   
}
.wrapper{
    margin-left: 9rem;
    margin-right: 9rem;
}

.header{
 
    height: 60px;
    width: 100%;
    display: flex;
    border-bottom: .001rem rgb(167, 167, 167) solid;
    justify-content: space-between;
    align-items: center;
}   

.list{
    display: flex;
    gap: 20px;
flex: 4;
    justify-content: center;
    text-align: center;
}
.logo{
    flex: 1;
    
}
.sign{
    flex: 1;
    text-align: right;
}

/* information page */

.information{
    display: grid;
    grid-template-areas: 
    "a e "
    "b e "
    "c e "
    "d e ";
    grid-template-columns:70% 30% ;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    row-gap: 10px;
    margin-top: 5rem;
    height: 22rem;
}
.name{
    
    grid-area: a;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
}
.oneliner{
 
    grid-area: b;
    font-size: 2.4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 800;
}
.details{

    grid-area: c;
    font-size:1.1rem ;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.linktoother{
    
    grid-area: d;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif;
}
/* .item{
    border-bottom: .001rem rgb(167, 167, 167) solid;
} */
.coolpic{
    grid-area: e;
    
}


/* FOOTER */
footer{
    border-top: .001rem rgb(167, 167, 167) solid;
    margin-top: 15rem;
    height: 15rem;
}
.copyright{
    text-align: right;
}